.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th{
    padding: 1px;
}

.table>tbody>tr>td {
    width: 15px;
}

table td {
    text-align: center;
}

table{
    overflow: hidden;
}

td, th {
    position: relative;
}
td:hover::after{
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 170, 0.4);
    left: 0;
    top: -5000px;
    height: 10000px;
    width: 100%;
    z-index: 1;
}

.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
    border: 1px solid #B3B1B1;
}